
{{#if page}}
  <h2 class="h{{rel}}" >{{page}}</h2>
{{/if}}

{{#inputs}}
  <p>
    <label>{{title}} - {{name}}</label>
    <input class="input" type="number" pattern="[0-9]" name="{{title}}" value="{{value}}">
  </p>
{{/inputs}}

<div class="menu">
  {{#if prev}}
    <input type="submit" class="btn page" data-rel="{{rel}}" data-page="prev" value="prev">
  {{/if}}

  {{#if save}}
    <input type="submit" class="btn submit" data-rel="{{rel}}" value="save" disabled>
  {{/if}}

  {{#if next}}
    <input type="submit" class="btn page" data-rel="{{rel}}" data-page="next" value="next">
  {{/if}}

  {{#if results}}
    <input type="submit" class="btn results page" data-rel="{{rel}}" data-page="next" value="results">
  {{/if}}
</div>
