
{{#if page}}
  <h2 class="h{{rel}}" >{{page}}</h2>
{{/if}}

<div class="all">
  <h3 class="center" >The Basics</h3>
  <p>{{attending}} Gods Attended</p>
  <p>{{total}} Tasks Achieved</p>

  <h3 class="center" >The Balance</h3>
  <div class="balance">
    <p>Light {{light}}<span>{{dark}} Dark</span></p>
    <div class="barhold">
      <div class="bar" style="width:{{percentage}}%"></div>
    </div>
  </div>

  <h3 class="center" >Houses</h3>
  <div class="houses">
    <p>
      {{#if houses.hearts.per}}
        <span style="width:{{houses.hearts.per}}%" >Hearts</span>
      {{/if}}
      {{#if houses.clubs.per}}
        <span style="width:{{houses.clubs.per}}%" >Clubs</span>
      {{/if}}
      {{#if houses.diamonds.per}}
        <span style="width:{{houses.diamonds.per}}%" >Diamonds</span>
      {{/if}}
      {{#if houses.spades.per}}
        <span style="width:{{houses.spades.per}}%" >Spades</span>
      {{/if}}
    </p>
    <div class="barhold">
      <div class="bar" style="width:{{houses.hearts.per}}%"></div>
      <div class="bar" style="width:{{houses.clubs.per}}%"></div>
      <div class="bar" style="width:{{houses.diamonds.per}}%"></div>
      <div class="bar" style="width:{{houses.spades.per}}%"></div>
    </div>
    <p>
      {{#if houses.hearts.per}}
        <span style="width:{{houses.hearts.per}}%" >({{houses.hearts.points}})/{{houses.hearts.tally}}</span>
      {{/if}}
      {{#if houses.clubs.per}}
        <span style="width:{{houses.clubs.per}}%" >({{houses.clubs.points}})/{{houses.clubs.tally}}</span>
      {{/if}}
      {{#if houses.diamonds.per}}
        <span style="width:{{houses.diamonds.per}}%" >({{houses.diamonds.points}})/{{houses.diamonds.tally}}</span>
      {{/if}}
      {{#if houses.spades.per}}
        <span style="width:{{houses.spades.per}}%" >({{houses.spades.points}})/{{houses.spades.tally}}</span>
      {{/if}}
    </p>
  </div>

</div>

{{#results}}
  <div class="data">
    <h3>{{name}}<span>{{title}}</span></h3><div class="suit {{suit}}"></div>
    <p>points: {{total}}</p>
  </div>
{{/results}}

<div class="menu">
  {{#if prev}}
    <input type="submit" class="btn page" data-rel="{{rel}}" data-page="prev" value="Back">
  {{/if}}
</div>
